/* Global Styles */
body {
  background-color: #463047;
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  height: 100%; /* Full height of the screen */
  display: flex;
  flex-direction: column;
}

/* Navigation Bar */
.navbar {
  background-color: #463047;
  width: 95%;
  margin: 10px auto;
  position: relative;
}

.navbar img {
  width: 50%;
  height: auto;
}

/* Instagram Logo */
.instagram-logo {
  display: flex;
  justify-content: center;
}

.instagram-logo svg {
  margin: 2%;
}

/* Profile Image */
.profile img {
  width: 10%;
  height: 20%;
  border-radius: 100%;
}

/* Product Section */
.products {
  flex-grow: 1; /* Allows it to grow and push footer down */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 50px;
}

/* Individual Product Container */
.product,
.product-image {
  border-radius: 20px;
  padding: 10px;
  background-color: #000000;
  margin: 1%;
}

/* Product Images */
.product img {
  width: 200px; /* Responsive images */
  height: 200px;
  border-radius: 20%;
}

/* Product Text */
.product p {
  color: #FFFFFF;
  margin: 10px 0 0;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;

}

/* Product Links */
.product a {
  text-decoration: none;
  color: white;
}

.footer{
  text-align: left;
  margin-left: 10%;
  margin-top: auto;
  position: relative;
}

/* Responsive Adjustments for Small Screens */
@media (max-width: 600px) {
  .products {
      margin-left: -10px;

  }

  .product,
  .product-image {
      max-width: 150px;
      max-height: 150px;
      margin: 5%;
      margin-bottom: 15%;
      margin-left: 0px;
  }

  .product img {
      margin: 0px;
  }

  .product p {
      margin-top: 0;
  }

}

@media (max-width: 425px) {
  .product,
  .product-image {
      max-width: 100px;
      max-height: 100px;
  }

  .instagram-logo svg {
      margin: 2%;
      margin-top: 10%;
      margin-bottom: 10%;
  }

  .profile img {
      width: 20%;
      height: 20%;
      border-radius: 100%;
  }

  .navbar {
      background-color: #463047;
      width: 95%;
  }

  .navbar img {
      width: 100%;
  }


}

/* Toggle Switch */
.toggle-container {
  display: flex;
  justify-content: space-around;
  position: relative;
  background: #9d9d9d;
  border-radius: 15px;
  font-family: Arial, sans-serif;
  user-select: none;
  overflow: hidden;
  margin-left: 15px;
  margin-bottom: 5%;
}

.toggle-container input {
  display: none;
  padding: 5px;
}

.toggle-container label {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  position: relative;
  z-index: 2;
  font-weight: bold;
  color: #212121;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;


}

/* Slider Effect */
.toggle-slider {
  position: absolute;
  top: 5px;
  bottom: 5px;
  width: 30%;
  background: #463047;
  border-radius: 20px;
  transition: 0.3s ease;
  z-index: 1;
}

/* Highlight selected option */
.toggle-container input:checked + label {
  color: white;
}

.hidden {
  display: none;
}
